.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 164px 508px 0 0;
}

.u-section-1 .u-image-1 {
  width: 298px;
  height: 136px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -76px auto 0 839px;
}

.u-section-1 .u-image-2 {
  width: 390px;
  height: 186px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-scale: 1;
  margin: -89px auto 0 750px;
}

.u-section-1 .u-image-3 {
  width: 450px;
  height: 203px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 300px;
  margin: -86px auto 0 678px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: -254px 508px 0 0;
}

.u-section-1 .u-form-1 {
  height: 98px;
  margin: 28px 570px 0 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-input-1 {
  height: 60px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  background-image: none;
  width: 12%;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: linear-gradient(135deg, #62d7a5, #8be889);
  margin: -12px auto 60px 0;
  padding: 18px 121px 18px 120px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 308px;
  }

  .u-section-1 .u-image-1 {
    width: 239px;
    height: 124px;
    margin-top: 30px;
    margin-right: -48px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    width: 331px;
    height: 170px;
    margin-top: -75px;
    margin-right: -50px;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    width: 399px;
    height: 180px;
    margin-top: -85px;
    margin-right: -40px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -333px;
    margin-right: 308px;
  }

  .u-section-1 .u-form-1 {
    height: 178px;
    margin-top: 0;
    margin-right: 399px;
  }

  .u-section-1 .u-form-group-1 {
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 60px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -27px;
    padding-right: 96px;
    padding-left: 94px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1057px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: 351px;
    margin-right: auto;
    margin-left: 246px;
  }

  .u-section-1 .u-image-2 {
    margin-right: auto;
    margin-left: 200px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -84px;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: -655px;
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    width: 456px;
    margin-top: 11px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -22px;
    margin-left: auto;
    padding-right: 61px;
    padding-left: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 908px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 117px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 293px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: -74px;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: -85px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-top: -597px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -15px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 881px;
  }

  .u-section-1 .u-image-1 {
    width: 274px;
    margin-top: 308px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -89px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 153px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -570px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }
}